<div class="row">
  <div class="col-xs-12">
    <img [src]="selectedRecipe.imagePath"
    [alt]="selectedRecipe.name"
    class="img-responsive"
    style="max-height: 300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedRecipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" appDropdown>
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="onAddToShoppingList()" cursor.style="pointer">To Shopping List</a></li>
        <li><a class="dropdown-item" (click)="onEditRecipe()" cursor.style="pointer">Edit Recipe</a></li>
        <li><a class="dropdown-item" cursor.style="pointer">Remove Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{selectedRecipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of selectedRecipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }} rs.
      </li>
    </ul>
  </div>
</div>
