<!-- Project zone -->
<!-- <app-header></app-header>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<!-- Assignments zone -->
<!-- basics -->
<!-- <app-basics></app-basics> -->
<!-- components and data binding -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (myEmitter)="OnIncrement($event)">
      </app-game-control>
    </div>
    <div class="col-xs-12">
      <app-odd-listener *ngFor="let item of oddNumbers" [oddNumber]="item"></app-odd-listener>
      <app-even-listener *ngFor="let item of evenNumbers" [evenNumber]="item"></app-even-listener>
    </div>
  </div>
</div> -->
<app-test-form></app-test-form>

<!-- POC Zone -->
<!-- <span app-test-component></span> -->
<!-- <app-test-component></app-test-component> -->
